<!DOCTYPE html>
<html>
<head>
  <title>NewReader</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class='nav nav-pills'>
  <li><a href="#/feeds">Feeds</a></li>
  <li><a href="#/entries">Entries</a></li>
  <li><a href="http://google.com">Bullshit nav bar filler</a></li>
</ul>
<%= yield %>

</body>
</html>
